@media screen and (max-width:1600px) {
    .collapse.show {
        transform: translate(20px);
        text-align: center;
    }

    .Header {
        display: flex;
        flex-direction: column;
    }

    .Logo {
        width: 300px;
    }

    .img_top {
        width: 293px;
    }

    .img_mint {
        width: 293px;
    }

    .TraitsImg {
        width: 293px;
    }

    .About {
        text-size-adjust: auto;
        text-justify: auto;
        align-items: center;
        text-align: left;
        font-size: 18px;
    }

    .Contract {
        font-size: 14px;
    }

    .barCountdown p {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .collapse.show {
        transform: translate(20px);
        text-align: center;
    }

    .Header {
        gap: 25px;
        min-height: 20vh;
    }

    .Logo {
        width: 200px;
    }
    
    .img_top {
        width: 193px;
    }

    .img_mint {
        width: 193px;
    }

    .TraitsImg {
        width: 193px;
    }

    .About {
        text-size-adjust: auto;
        text-justify: auto;
        align-items: center;
        text-align: left;
        font-size: 11px;
    }

    .SearchSections {
        font-size: 18px;
    }

    .Contract {
        font-size: 10px;
    }

    .Owner {
        text-align: center;
        font-family: 'Press Start 2P', cursive;
    }

    .Owner img {
        width: 193px;
        border-radius: 25px;
    }

    .Term2 {
        min-height: 100vh;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .Footer {
        min-height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: baseline right;
        justify-content: space-between;
        font-size: calc(5px + 1vmin);
        color: white;
        background-image: linear-gradient(to bottom, #232a32, #252c34, 
        #262d36, #282f38, #2a313a, #2c333d, #2d363f, #2f3842, #313b46, 
        #343e49, #36414d, #394451);
      
    }

      a {
        color: #41dfff;
        transition: transform 0.4s;
    }
  
    .link:hover {
        color: #c777b9;
        transform: scale(1.1);
        opacity: 85%;
        
    }

    .timeline-content h1 {
        font-size: 16px;
        font-weight: 500;
        color: #41dfff;
    }

    .TeraByteNFTs {
        font-size: 14px;
    }
}

@media only screen and (min-width: 768px) {
    .timeline::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        left: 50%;
        background-color: white;
        transform: translateX(-50%);
    }
    .timeline ul li {
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }
    .timeline ul li:nth-child(odd) {
        float: left;
        clear: right;
        transform: translateX(-65px);
        box-shadow: 0 10px 15px black;
        border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even) {
        float: right;
        clear: left;
        transform: translateX(30px);
        box-shadow: 0 10px 15px black;
        border-radius: 0px 20px 20px 20px;
    }

    .timeline ul li::after {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: #232A32;
        border-radius: 50%;
        top: 0;
    }

    .timeline ul li:nth-child(odd)::after {
        transform: translate(50%, -50%);
        right: -48px;
    }

    .timeline ul li:nth-child(even)::after {
        transform: translate(50%, -50%);
        left: -67px;
    }

    .timeline ul li:hover::after {
        background-color: rgb(190, 70, 226);
    }

    .timeline-content .Porcentage {
        position: absolute;
        top: -25px;
    }

    .collapse.show {
        transform: translate(20px);
    }
}