@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-align: center;
    box-sizing: border-box;
}

html {
    font-family: 'Press Start 2P', cursive;
}

body {
    background: #232A32;
    color: white;
}

.App {
    min-height: 100vh;
    padding: 50px 50px;
    margin: 5px;
    font-family: 'Press Start 2P', cursive;
}

#SocialNetwork a {
    color: white;
    transition: transform 0.4s;
}

#SocialNetwork a.twitter:hover {
    color: #1DA1F2;
    transform: scale(1.3);
    opacity: 85%;
}

#SocialNetwork a.instagram:hover {
    color: #C13584;
    transform: scale(1.3);
    opacity: 85%;
}

#SocialNetwork a.telegram:hover {
    color: #0088cc;
    transform: scale(1.3);
    opacity: 85%;
}

#SocialNetwork a.discord:hover {
    color: #5865F2;
    transform: scale(1.3);
    opacity: 85%;
}

.Term {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: white;
    border-radius: 25px;
}

.Term p {
    color: black;
}

.Footer {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: baseline right;
    justify-content: space-between;
    font-size: calc(5px + 1vmin);
    color: white;
    background-image: linear-gradient(to bottom, #232a32, #252c34, 
    #262d36, #282f38, #2a313a, #2c333d, #2d363f, #2f3842, #313b46, 
    #343e49, #36414d, #394451);
  
  }

  .Footer .link {
      color: #41dfff;
      transition: transform 0.4s;
  }

  .Footer .link:hover {
      color: rgb(190, 70, 226);
      transform: scale(1.1);
      opacity: 85%;
      
  }
