@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html {
    font-family: 'Press Start 2P', cursive;
}

body {
    background: #232A32;
    color: white;
}

#SocialNetwork a {
    color: white;
    transition: transform 0.4s;
}

#SocialNetwork a.twitter:hover {
    color: #1DA1F2;
    transform: scale(1.3);
    opacity: 85%;
}

#SocialNetwork a.instagram:hover {
    color: #C13584;
    transform: scale(1.3);
    opacity: 85%;
}

#SocialNetwork a.telegram:hover {
    color: #0088cc;
    transform: scale(1.3);
    opacity: 85%;
}

#SocialNetwork a.discord:hover {
    color: #5865F2;
    transform: scale(1.3);
    opacity: 85%;
}

#countdown {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

.barSearch a {
    transition: transform 0.4s;
}

.barSearch a:hover {
    color: #c777b9;
    transform: scale(1.1);
    opacity: 85%;
}

#Gradient {
    background-image: linear-gradient(135deg
    ,#d16ba5, #c777b9, #ba83ca, #aa8fd8, 
    #9a9ae1, #8aa7ec, #79b3f4, #69bff8, 
    #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-size: 250%;
    animation: fanimado 10s infinite;
}

@keyframes fanimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.EnEs {
    text-align: center;
}

.en {
    color: #fff;
}

.es {
    color: #c777b9;
}

.check {
    position: relative;
    width: 50px;
}

.check:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px;
}

.check:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
}

.check:checked:after {
    left: 25px;
    border: 2px solid #c777b9;
}

.check:checked:before {
    background: #c777b9;
}

.Top {
    background: #262d35;
}

.App {
    width: 75%;
    min-height: 5vh;
    padding: 50px 50px;
    margin: 5px;
    font-family: 'Press Start 2P', cursive;
}

.Header {
    display: flex;
    flex: content;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

.Logo {
    width: 500px;
}

.img_top {
    width: 393px;
    border-radius: 20px;
}

.Contract {
    content: '';
    vertical-align: sub;
    width: 50px;
    height: 25px;
    font-size: 18px;
    border-radius: 25px;
    box-sizing: border-box;
    border: 8px solid #333;
    background: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Banner {
    background-color: white;
    text-align: center;
    padding: 5px;
}

.Banner img {
    width: 500px;
}

.img_mint {
    width: 393px;
    border-radius: 20px;
}

.Title {
    text-align: center;
    padding: 10px;
}

.Title h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.About {
    font-size: 24px;
    text-align: left;
    align-items: center;
}

.Mint {
    font-family: 'Press Start 2P', cursive;
    border-radius: 0px 0px 20px 20px;
    background-color: #232A32;
    text-align: center;
}

select {
    width: 100px;
    height: 40px;
    padding: 0.1rem 0.6rem;
    border-radius: 5%;
    color: black;
    border: 0;
    margin: 10px;
}

.ButtonConnect {
    color: white;
    margin: 35px;
}

.ButtonMint {
    color: white;
}

.row {
    display: flex;
    padding: 0;
}

.column {
    flex: 25%;
    max-width: 20%;
    padding: 0;
}

.column img {
    vertical-align: middle;
    width: 100%;
}

.Collage img {
    width: 100%;
}

.TraitsImg {
    width: 393px;
    border-radius: 20px;
}

.barSelect a {
    color: #41dfff;
}

.SearchSections {
    min-height: 100vh;
    margin: 50px;
    padding: 50px;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Press Start 2P', cursive;
    border-radius: 20px;
    background-color: aqua;
    opacity: 65%;
    box-shadow: 0 5px 25px aqua;
    text-align: center;
}

.SearchSections {
    max-width: 75%;
}

.SearchSections p {
    color: #232A32;
}

.SearchSections p3 {
    color: #c777b9;
}

.SearchSections p2, h3, h4 {
    color: black;
}

.SearchSections h2 {
    color: black;

}

.Mint-Details {
    text-align: center;
    justify-items: center;
}

.Roadmap {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Roadmap h2 {
    font-family: 'Press Start 2P', cursive;
}

.container-roadmap {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.timeline ul {
    list-style: none;
}

.timeline ul li {
    padding: 20px;
    background-color: #232A32;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.timeline ul li:last-child {
    margin-bottom: 0;
}

.timeline-content h1 {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
}

.timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    color: white;
}

.timeline-content .Porcentage {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: #c777b9;
}

.Community a {
    color: #c777b9;
}

.Community a:hover {
    color: white;
    font-size: 20px;
}

.FAQ {
    background: #c777b9;
    padding: 5px;
    text-align: center;
}

.Owner {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

.Owner img {
    border-radius: 25px;
}

.TeraByteNFTs {
    font-size: 18px;
}

.TeraByteNFTs:hover {
    color: #c777b9;
    opacity: 85%;
}

.Term2 {
    min-height: 100vh;
    margin: 50px;
    padding: 50px;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 25px;
    background-color: white;
    opacity: 50%;
}

.Term2 {
    max-width: 75%;
}

.Term {
    text-align: center;
}

.Term p {
    color: black;
}

.Footer {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: baseline right;
    justify-content: space-between;
    font-size: calc(5px + 1vmin);
    color: white;
    background-image: linear-gradient(to bottom, #232a32, #252c34, 
    #262d36, #282f38, #2a313a, #2c333d, #2d363f, #2f3842, #313b46, 
    #343e49, #36414d, #394451);
  
}

a {
    color: #41dfff;
    transition: transform 0.4s;
}

.link:hover {
    color: #c777b9;
    transform: scale(1.1);
    opacity: 85%;
      
}

@media only screen and (max-width:1600px) {
    .collapse.show {
        transform: translate(20px);
        text-align: center;
    }

    .Header {
        display: flex;
        flex-direction: column;
    }

    .Logo {
        width: 300px;
    }

    .img_top {
        width: 293px;
    }

    .img_mint {
        width: 293px;
    }

    .TraitsImg {
        width: 293px;
    }

    .About {
        text-size-adjust: auto;
        text-justify: auto;
        align-items: center;
        text-align: left;
        font-size: 18px;
    }

    .Contract {
        font-size: 14px;
    }

    .barCountdown p {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .collapse.show {
        transform: translate(20px);
        text-align: center;
    }

    .Header {
        gap: 25px;
        min-height: 20vh;
    }

    .Logo {
        width: 200px;
    }
    
    .img_top {
        width: 193px;
    }

    .img_mint {
        width: 193px;
    }

    .TraitsImg {
        width: 193px;
    }

    .About {
        text-size-adjust: auto;
        text-justify: auto;
        align-items: center;
        text-align: left;
        font-size: 11px;
    }

    .SearchSections {
        font-size: 18px;
    }

    .Contract {
        font-size: 10px;
    }

    .Owner {
        text-align: center;
        font-family: 'Press Start 2P', cursive;
    }

    .Owner img {
        width: 193px;
        border-radius: 25px;
    }

    .Term2 {
        min-height: 100vh;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .Footer {
        min-height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: baseline right;
        justify-content: space-between;
        font-size: calc(5px + 1vmin);
        color: white;
        background-image: linear-gradient(to bottom, #232a32, #252c34, 
        #262d36, #282f38, #2a313a, #2c333d, #2d363f, #2f3842, #313b46, 
        #343e49, #36414d, #394451);
      
    }

      a {
        color: #41dfff;
        transition: transform 0.4s;
    }
  
    .link:hover {
        color: #c777b9;
        transform: scale(1.1);
        opacity: 85%;
        
    }

    .timeline-content h1 {
        font-size: 16px;
        font-weight: 500;
        color: #41dfff;
    }

    .TeraByteNFTs {
        font-size: 14px;
    }
}

@media only screen and (min-width: 768px) {
    .timeline::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        left: 50%;
        background-color: white;
        transform: translateX(-50%);
    }
    .timeline ul li {
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }
    .timeline ul li:nth-child(odd) {
        float: left;
        clear: right;
        transform: translateX(-65px);
        box-shadow: 0 10px 15px black;
        border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even) {
        float: right;
        clear: left;
        transform: translateX(30px);
        box-shadow: 0 10px 15px black;
        border-radius: 0px 20px 20px 20px;
    }

    .timeline ul li::after {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: #232A32;
        border-radius: 50%;
        top: 0;
    }

    .timeline ul li:nth-child(odd)::after {
        transform: translate(50%, -50%);
        right: -48px;
    }

    .timeline ul li:nth-child(even)::after {
        transform: translate(50%, -50%);
        left: -67px;
    }

    .timeline ul li:hover::after {
        background-color: rgb(190, 70, 226);
    }

    .timeline-content .Porcentage {
        position: absolute;
        top: -25px;
    }

    .collapse.show {
        transform: translate(20px);
    }
}